.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatarWrap {
  position: absolute;
  transform: translate(-50%, -50%);
}
.mockMap {
  position: relative;
  width: 800px;
  height: 500px;
  background: url(https://poormanvr.s3.us-east-2.amazonaws.com/map/gatherly-office.jpg) no-repeat center center;
}

.avatar-enter {
  opacity: 0;
}
.avatar-enter-active {
  opacity: 1;
  transition: opacity 333ms ease-in;
}
.avatar-exit {
  opacity: 1;
}
.avatar-exit-active {
  opacity: 0;
  transition: opacity 333ms ease-in;
}
